@model DotNetCoders.Models.StockViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MyStyles
{
    <style>
        h2 {
            color: white;
            text-align: center;
            margin-bottom: 2%;
            margin-top: 1%;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            text-decoration-color: turquoise;
            background: rgb(107, 194, 130);
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background: darkslateblue;
            text-align: center;
            padding: 10px;
            color: azure;
        }

        td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}
<h2>Stock &nbsp;&nbsp; Report</h2>

<div class="row">
    @{ DateTime sDate = DateTime.Today; DateTime eDate = DateTime.Today;}

    @using (Html.BeginForm("Index", "SalesReport", FormMethod.Post))
    {
        <div class="row">
            <p style="background-color: deepskyblue; font-size:large; font-weight:700; color:#fff">From:</p>
            <div class="col-md-6" style="background-color:aliceblue; font-size:14px">

                @Html.TextBox("startDate", (sDate), "{0:yyyy-MM-dd}", htmlAttributes: new
                {
                    @class = "form-control",
                    @type = "date",
                    @id = "startDate"
                })
            </div>
            <p style="background-color:deepskyblue; font-size:large; font-weight:700; color:#fff">To:</p>
            <div class="col-md-6" style="background-color:aliceblue; font-size:14px">

                @Html.TextBox("endDate", (eDate), "{0:yyyy-MM-dd}", htmlAttributes: new
                {
                    @class = "form-control",
                    @type = "date",
                    @id = "endDate"
                })
            </div>

        </div>
    }

    @*@if (Model != null && Model.Count>0)
        {*@
    <div class="table-responsive">
        <table @*class="table table-striped"*@>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sl</th>
                    <th scope="col">Code</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">ReorderLevel</th>
                    <th scope="col">OpeningBalance</th>
                    <th scope="col">In</th>
                    <th scope="col">Out</th>
                    <th scope="col">ClosingBalance</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Stocks != null)
                {
                    var i = 0;
                    foreach (var product in Model.Stocks)
                    {
                        i++;

                        <tr>
                            <td>@i</td>
                            <td>@product.Code</td>
                            <td>@product.Product</td>
                            <td>@product.Category</td>
                            <td>@product.ReorderLevel</td>
                            <td>@product.OpeningBalance</td>
                            <td>@product.In</td>
                            <td>@product.Out</td>
                            <td>@product.ClosingBalance</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
